---
# Recetas
---
$layout-width: 50rem;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 400 16px/1.5 system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif; //1.48125
  color: #222;
  // Enabling kerning and optional ligatures
  text-rendering: optimizeLegibility;
}

body {
  line-height: 1.2em;
  margin: 1em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
//  font-weight: 700;
}
h2, h3, h4, h5, h6 {
  margin-top: 1.4em;
}

a {
  color: #f60;
  text-decoration: none;
}

// Layout Width
header,
.page-content,
footer {
  width: 100%;
  max-width: $layout-width;
  margin: 0 auto;
}

// Header
header {
  h1, a {
    font-size: 20px;
    color: #f60;
  }
  a {
    text-decoration: none;
  }
}

// Footer
footer {
  color: #999;
  font-size: 0.9em;
  margin-top: 3em;
}

ul {
  // margin: 0;
  padding-left: 1.5em;
  list-style-type: none;
}
ul li {
  &:before {
    color: #999;
    content:"—";
    position:relative;
    left:-0.5em;
  }
  text-indent:-1em;
  margin: 0.5em 0;
}
.index li {
  font-weight: 700;
}

// Receta
.receta {
  color: #333;
  line-height: 1.35em;

  h1, h2, h3, h4, h5, h6 {
    color: #555;
    letter-spacing: -0.7px;
  }
  img {
    border-radius: 1rem;
    box-shadow: rgba(0,0,0,0.4) 0 1rem 3rem;
    width: 100%;
    max-width: $layout-width;
  }
  .ingredientes {
    .n {
      font-weight: 600;
      color: #444;
    }
    a.n { color: #f60; }
  }
}
