---
# Recetas
---
@import "normalize";
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

$font-stack: 'Helvetica', sans-serif;
$title-font: 'Montserrat';
// $title-font: 'Helvetica';
$layout-width: 50rem;

body {
  font-family: $font-stack;
  line-height: 1.3em;
  font-weight: 200;
  letter-spacing: -0.2px;
  margin: 1em;
}

@media all and (min-width: 960px) {
  body{ font-size: 110%; }
}
 @media all and (max-width: 959px) and (min-width: 600px) {
   body{ font-size: 100%; }
 }
 @media all and (max-width: 599px) {
   body{ font-size: 80%; }
 }

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font, $font-stack;
  line-height: 1.2em;
  font-weight: 700;
}
h2, h3, h4, h5, h6 {
  margin-top: 1.4em;
}

a {
  color: #f60;
  text-decoration: none;
}

// Layout Width
header,
.page-content,
footer {
  width: 100%;
  max-width: $layout-width;
  margin: 0 auto;
}

// Header
header {
  h1, a {
    font-size: 20px;
    color: #f60;
  }
  a {
    text-decoration: none;
  }
}

// Footer
footer {
  color: #999;
  font-size: 0.9em;
  margin-top: 3em;
}

ul {
  // margin: 0;
  padding-left: 1.5em;
  list-style-type: none;
}
ul li {
  &:before {
    color: #999;
    content:"—";
    position:relative;
    left:-0.5em;
  }
  text-indent:-1em;
  margin: 0.5em 0;
}
.index li {
  font-family: $title-font;
  font-weight: 700;
}

// Receta
.receta {
  color: #333;
  line-height: 1.35em;

  h1, h2, h3, h4, h5, h6 {
    color: #555;
    letter-spacing: -0.7px;
  }
  img {
    border-radius: 1rem;
    box-shadow: rgba(0,0,0,0.4) 0 1rem 3rem;
    width: 100%;
    max-width: $layout-width;
  }
  .ingredientes {
    .n {
      font-weight: 600;
      color: #444;
    }
    a.n { color: #f60; }
  }
}
