---
layout: default
---

<div class="receta">
  <h1>{{page.title}}</h1>
  <h4>Dificultad: {{page.dificultad}} • Tiempo: {{page.tiempo}}</h4>

  {% if page.image %}
  <div class="photo"><img src="{{page.image}}" /></div>
  {% endif %}

  <h2>Ingredientes (para {{page.cantidad}})</h2>
  <ul class="ingredientes">
  {% for ingrediente in page.ingredientes %}
    {% if ingrediente.url %}
    <li><a class="n" href="{{ingrediente.url}}">{{ingrediente.nombre | capitalize }}</a>{% if ingrediente.cantidad%}: {{ingrediente.cantidad}}{%endif%}</li>
    {% else %}
    <li><span class="n">{{ingrediente.nombre | capitalize }}</span>{% if ingrediente.cantidad%}: {{ingrediente.cantidad}}{%endif%}</li>
    {% endif %}
  {% endfor %}
  </ul>

  {{ content }}

</div>
